<p id="notice"><%= notice %></p>
<h1>This is the Dashboard</h1>


<p>Total calories burned today: <%= @all_exercises.day_burn_total %></p>
<p>Calories consumed for today: <%= @all_cals.day_total %></p>
<p>Net Calories for today: <%= @net_cals %></p>
<p>You get most of your calories from: <%= @worst_enemy %></p>
<p>You've burned the most calories:
  <%= @exercise_types.index(@all_exercises.most_cals_burned_for_an_exercise_type.exercise_type_id) %>
  <%= @all_exercises.most_cals_burned_for_an_exercise_type.exercise_type_id %>,
  <%= @all_exercises.most_cals_burned_for_an_exercise_type.cals_burned %> Calories burned,
  on <%= @all_exercises.most_cals_burned_for_an_exercise_type.exercise_on.strftime('%A, %B %e, %Y') %>
</p>

<%= link_to 'New Cal', new_cal_path %>
<%= link_to 'Weights List', weights_path %>
<%= link_to 'Steps List', steps_path %>
<%= link_to 'Exercises List', exercise_tasks_path %>
<%= link_to 'Calories Consumed List', cals_path %>
