<p id="notice"><%= notice %></p>

<div class="ribbon-header">
  <div class="ribbon">
    <div class="ribbon-stitches-top"></div>
    <strong class="ribbon-content">
      <h1>Health Tracker - Pacific Brushlands</h1>
    </strong>
    <div class="ribbon-stitches-bottom"></div>
  </div>
</div>

<ul class="display-text">
  <li class="text"><p>Calories consumed for today: <%= @all_cals.day_total %></p></li>
  <li class="text"><p>Total calories burned today: <%= @all_exercises.day_burn_total %></p></li>
  <li class="text"><p>Net Calories for today: <%= @net_cals %></p></li>
  <li class="text"><p>You get most of your calories from: <%= @worst_enemy.description %> <%= @worst_enemy.amount %> Calories</p></li>
  <li class="text"><p>You've burned the most calories:
    <%= @most_calories_burned_type %>,
    <%= @all_exercises.most_cals_burned_for_an_exercise_type.cals_burned %> Calories burned,
    on <%= @all_exercises.most_cals_burned_for_an_exercise_type.exercise_on.strftime('%A, %B %e, %Y') %>
  </p></li>
</ul>

<div class="nav-bar">
  <%= button_to 'Weights List', weights_path, :class => 'button', :method => :get %>
  <%= button_to 'Steps List', steps_path, :class => 'button', :method => :get%>
  <%= button_to 'Exercises List', exercise_tasks_path, :class => 'button', :method => :get%>
  <%= button_to 'Calories Consumed List', cals_path, :class => 'button', :method => :get%>
</div>
