<p id="notice"><%= notice %></p>

<h1 id='page_header'>Listing Exercise Types</h1>



<div class='row_list', style="overflow:scroll">
  <table>
    <% @exercise_types.each do |exercise_type| %>
      <tr>
        <td><%= exercise_type.type_is %></td>
        <td><%= link_to 'Edit', edit_exercise_type_path(exercise_type) %></td>
        <td><%= link_to 'Destroy', exercise_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

<br>

<div id='center_button'>
<%= link_to 'New Exercise type', new_exercise_type_path, :class => 'button_new'  %>
</div>
