<div class ="input_form">
  <%= form_for(@cal) do |f| %>
    <% if @cal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cal.errors.count, "error") %> prohibited this cal from being saved:</h2>

        <ul>
        <% @cal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :amount %>
      <%= f.number_field :amount %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :cals_on %>
      <%= f.date_select :cals_on %>
    </div>
    <div class="actions">
      <%= f.submit :class => 'button_new' %>
  <% end %>
