<p id="notice"><%= notice %></p>

<h1 id='page_header'>Listing Steps</h1>

<table class='table_header'>
  <tr>
    <th>Amount</th>
    <th>Steps on</th>
  </tr>
</table>

<div class='row_list_steps', style="overflow:scroll">
  <table>
    <% @steps.each do |step| %>
      <tr>
        <td><%= link_to step.amount, edit_step_path(step) %></td>
        <td>
          <%= link_to step.steps_on, edit_step_path(step) %> |
          <%= link_to 'X', step, method: :delete, data: { confirm: 'Are you sure you want to delete this row?' } %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<br>
  <div id='center_button'>
    <%= link_to 'New Step',new_step_path, :class => 'button_new' %>
  </div>
