<!DOCTYPE html>
<html>
<head>
  <title>HealthTracker|PacificBrushlands</title>
  <link rel="icon" type="image/png" href="http://images.nationalgeographic.com/wpf/media-live/photos/000/125/cache/groundhog-day-groundhog_12530_600x450.jpg">
  <link rel="icon" type="image/png" href="http://images.nationalgeographic.com/wpf/media-live/photos/000/125/cache/groundhog-day-groundhog_12530_600x450.jpg">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
  	<div id="content">
<%= yield %>
    </div>
  </div>

  <div id="footer">
    <%= link_to 'Pacific Brushlands', root_path %>
  </div>
</body>

</html>
